@using TravelTripProje.Models.Sınıflar
@using System.Security.Claims
@model List<Blog>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var useRole = User.FindFirst(ClaimTypes.Role)?.Value;
    var isUltraAdmin = useRole == "UltraAdmin";
}

<h2>Blog Listesi</h2>
<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>BAŞLIK</th>
        @if (isUltraAdmin)
        {
            <th>SİL</th>
            <th>GÜNCELLE</th>
        }
		<th>DETAYLAR</th>
    </tr>
    @foreach(var x in Model)
    {
        <tr>
            <td>@x.ID</td>
            <td>@x.Baslik</td>
			
            @if(isUltraAdmin)
			{
                <td><a href="/Admin/BlogSil/@x.ID" class="btn btn-danger">Sil</a></td>
			    <td><a href="/Admin/BlogGetir/@x.ID" class="btn btn-warning">Güncelle</a></td>
            }
			<td><a href="/Blog/BlogDetay/@x.ID" class="btn btn-default">Detaylar</a></td>
        </tr>
    }
</table>

@if (isUltraAdmin)
{
    <a href="/Admin/YeniBlog/" class="btn btn-primary">Yeni Blog</a>
}
else
{
    <div class="alert alert-info">
        <strong>Bilgi:</strong> Yalnızca blog detaylarını görüntüleyebilirsiniz. Blog ekleme, silme ve güncelleme yetkiniz bulunmamaktadır.
    </div>
}