@using TravelTripProje.Models.Sınıflar
@model List<Blog>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="box1-left">
    @foreach(var x in Model)
    {
        <div class="bot-img">
            <a href="/Blog/BlogDetay/@x.ID">
                <img src="@x.BlogImage" alt="@x.Baslik" />
            </a>
        </div>
        <div class="bot-desc">
            <p>@x.Aciklama.Substring(0, 80)...</p>
        </div>
        <div class="clear"></div>
    }
    
</div>